{% extends 'base.html' %}
{% load static %}

{% block content %}

<section>
  <article id="hero">
    <h1 class="heading_shadow">SPECIAL OFFER</h1>
    <p>
      30% Off This Weekend 
    </p>
    {% if user.is_authenticated %}
      <a href="{% url 'restaurant:booking-list' %}" class="cta">Book Now</a>
        {% endif %}
  </article>
</section>

<section class="features">
  <article>
    <h2>Our New Menu</h2>
    <img src="{% static 'img/grill.jpg' %}">
    <p>
      Our menu consists of 12-15 seasonal items based on Italian, Greek, and Turkish culture.
    </p>
    <p>
      <a href="{% url 'restaurant:menu-list' %}">See our new menu</a>
    </p>
  </article>

  <article>
    <h2>Book a table</h2>
    <img src="{% static 'img/salad.jpg' %}">
    <p>
      Reserve your table for an Italian, Greek, and Turkish dining experience.
    </p>
    <p>    
    {% if user.is_authenticated %}
      <a href="{% url 'restaurant:booking-list' %}">Book your table now</a>
      {% else %}
      <p><a href="{% url 'restaurant:login' %}">Login</a>, or <a href="{% url 'restaurant:register' %}">Register</a> now to book!</p>
        {% endif %}
    </p>
  </article>
  <article>
    <h2>Opening Hours</h2>
    <img src="{% static 'img/head_chef.jpg' %}">
    <p>
      The Little Lemon Restaurant is open 7 days a week, except for public holidays. 
    </p>
    <ul>
      <li>Mon - Fri: 2pm - 10pm</li>
      <li>Sat: 2pm - 11pm</li>
      <li>Sun: 2pm - 9pm</li>
    </ul>
  </article>
</section>


{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}